extends baseEmail

block content
  h3 Hi #{employeeFirstname} #{employeeLastname}!

  p #{managerFirstname} #{managerLastname} has accepted your request.

  p Enjoy your time! 

  p Regards,
  p System